<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Style.css') }}">
	<script src="{{ url_for('static', filename='Script.js') }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body><div id="loading"></div><div id="content">
    <form method="POST">
        <label>Username</label>
            <input type="text" name="username" placeholder="Username">
            <i class="fas fa-user"></i><br><br>
    	<label>Password</label>
    	    <input type="password" name="password" placeholder="Password">
    		<i class="fas fa-lock"></i><br><br>
    	<label>Email</label>
    		<input type="email" name="email" placeholder="example@email.com">
    		<i class="fas fa-envelope"></i><br><br>
    	<label>Gender</label>
    	    <input type="radio" value="male" name="gender"><i class="fas fa-male"></i>
        	<input type="radio" value="female" name="gender"><i class="fas fa-female"></i>
    	<p>
        	already have an account?<br> <a style="color:blueviolet;" href="/login">login</a><br>
    	</p>
    	<p>
      		<input type="submit" value="Sign up" onclick="loading()">
    	</p>
    </form>
</div></body>

</html>